* {
  box-sizing: border-box;
}


#me {
  height: 250px;
  width: 250px;
}


header {
  background-color:#bebebe;
  padding: 0px;
  border-style: solid;
  border-width: 4px;
  border-color: rgb(39, 39, 39);

  
}

.name {
  color: rgba(255, 255, 255, 0.842);
  background-color: rgba(59, 59, 59, 0.288);
  text-align: center;
  font-size: 36px;
  padding: 20px;
  display: inline-block;
  margin-left: auto;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.459);
  letter-spacing: 8px;
  border-right: 4px solid rgba(0, 0, 0, 0.459);
}



body {
  background-color:#ffffff;
  background-image: url("../Images/gothic_texture_by_ashensorrow.jpg");
  
}

#image {
  float: left;
  padding-right: 20px;
  margin-bottom: 200px;

}

p { 
  font-size: 20px;
  color: black;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin-bottom: 1em;
  
}

#main {
  background-color: #ccc;
  padding: 40px 30px;
  width: 75%;
  margin: auto;
  position: relative;
  margin-top: 50px;
  margin-bottom: 250px;
}

#main:after {
  content:"";
  clear:both;
  display:block;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  color: black;
}

hr {
  margin-bottom: 20px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #505050;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #4CAF50;
}

.container {
  color: black;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
 
 .headersection {
  float: right;
  display:Inline-block;
  font-weight: bold;
  margin-top: 40px;
  margin-right: 25px;

}

.clickers { 
  content: "";
  clear: both;
  color: rgb(112, 112, 112); 
} 

.clickers:hover { color: rgb(255, 255, 255); }


.merger {
    margin: auto;
}

footer { 
  text-align: center;
  padding: 20px;
  background-color: rgb(71, 71, 71);
  margin-bottom: 0px;
  border-top: 5px solid rgb(2, 114, 105);
  position: fixed;
  bottom: 0;
  width: 100%;
}

#contact footer {
position:initial;
}

.box1 {
  height: 50%;
  width: 31.33%;
  background-color: rgb(90, 90, 90);
  margin: 1%;
  float: left;
  position: relative;
  overflow: hidden;
}



.porty {
  margin-bottom: 10px ;
  margin-left: 1%;

}

.boox {
  background-color: rgba(204, 204, 204, 0.459);
  position: absolute;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  padding-top: 25px;
  padding-bottom: 25px;
  bottom: 35%;
  
}

.portimage {
  height: 100%;
  width: 100%;
}

.hidden {
  background-color: #ccc;
  position: absolute;
  width: 100%;
  bottom: 0%;
}